.dashboard-container {
    padding: 20px;
    background-color: #f9f9f9;
    height: 100vh;
    background-image: url('../assets/img/imagem-background.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  .user-info {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 0;
  }
  
  #dash1{
    color: #fff;
  } 