.home-container {
    height: 100vh;
    background-attachment: fixed;
    background-image: url('../assets/img/imagem-background.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273523;
}

.menu {
    padding: 20px;
    border-radius: 10px;
    width: 200vh;
    height: 90vh;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.cart-icon {
    height: 40px;
    width: 40px;
}

.listify {
    font-size: 35px;
    font-weight: 800;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    letter-spacing: 6px;
    color: white;
}

.main-heading {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    width: 100%;
    color: white;
    margin-bottom: 3rem;
}

.subheading {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-bottom: 8rem;
    color: white;
    margin-left: 1rem;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    background-color: #426b1f;
    color: white;
    padding: 20px 100px;
    border-radius: 9999px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.menu a:hover {
    background-color: #365315;
}