.navmenu {
  background-color: #426B1F;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navmenu-items {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #6BAF3F;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(107, 175, 63, 1.0); 
  border: 1px solid #444;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
  min-width: 150px;
}

.dropdown li {
  padding: 10px;
  list-style: none;
}

.dropdown li:hover {
  background-color: rgb(107, 175, 63); 
}
.dropdown a {
  text-decoration: none;
  color: #fff;
}

.dropdown a:hover {
  color: #023a07;
}

.logout {
  margin-left: auto; 
}

.logout button {
  background-color: #6BAF3F;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.logout button:hover {
  background-color: #6BAF3F;
}
